body{
    background: url(https://i.ytimg.com/vi/wztgM7i3jzg/maxresdefault.jpg);

}

h1{
    color: brown;
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}